*{
    /* reset */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .container .logo{
    padding: 0 70px;
}

header .container .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 0 50px;
}
header .container .menu .menu_left ul{
    display: flex;
}
header .container .menu .menu_left ul li{
    list-style: none;
    margin-right: 20px;
    border-right: 1px solid #fff;
    padding: 5px 20px;

}

header .container .menu .menu_left ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
header .container .menu .search{
    width: 500px;
    display: flex;
    justify-content: content;
    align-items: center;
}

header .container .menu .search input{

    width: 500px;
    /* padding: 5px; */
    font-size: 20px;
    
} 

header .container .menu .search button{
    /* padding: 5px; */
    font-size: 22px;
    background-color: #fff;
    border: none;
} 

/* end header */

/* start main */
main{
    background-color: #f5f5f5;
    padding: 0 50px ; 
}
main .container{
    margin-top: 10px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    
}
main .container .content_hotnews{
    width: 70%;
    background-color: #fff;
    display: flex;
    /* align-items: center; */
}
main .container .content_hotnews .hotnew_left{
    width: 60%;
    background-color: #fff;
    margin-right:20px ;
}
main .container .content_hotnews .hotnew_left img{
    width: 100%;
}

main .container .content_hotnews .hotnew_left a{
    text-decoration: none;
    color: #000;
}

main .container .content_hotnews .hotnew_right{
    width: 40%;
    
}
main .header_container ul{
    display: flex;
    margin-left: 70px;
}
main .header_container ul li{
    border: 3px solid #fff;
    list-style: none;
    padding:0  30px; 
    /* width: 50%; */
    background-color: #ccc;
    /* margin-right: 20px; */
}

main .header_container ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

main .container .listnew{
    width: 30%;

    background-color: rgb(236,249,255);
}

main .container form .radio{
    padding: 10px ;
}
main .container form {
    font-size: 20px;
}
main .container form .radio input{
    font-size: 20px;
}

/* end box1 */
/* box 2 */
main .mid_news {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
main .h1_mid{
    border-left: 5px solid red;
}
main .mid_news .content_mid_news {
    width: 20%;
    margin-right: 20px;
}

main .mid_news .content_mid_news img{
    width: 100%;
}
main .mid_news .content_mid_news a{
    text-decoration: none;
    color: #000;
}

/* end box 2 */
/* box3 */
main .mid2{
    width: 100%;
    background-color:gray;
    

}
main .mid2 .content_mid2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
main .mid2 .content_mid2 .nav_content{
    width: 25%;
    padding: 10px;
}
main .mid2 .content_mid2 .nav_content img{
    width: 100%;

}

main .mid2 .content_mid2 .nav_content a{
    text-decoration: none;
    color: #000;
}
main .mid2 .header_mid2 span{
    font-size: 20px;
    font-weight: 100;
    /* color: #fff; */
}
main .mid2 .header_mid2 span a{
    text-decoration: none;
    color: #000;
}
main .last_content{
    display: flex;
    padding-top:30px
}
main .box1{
    width: 100%;
    /* display: flex; */
    /* padding: 20px; */
}
main .box4{
    width: 100%;
    /* display: flex; */
    
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
main .box1 .last_content_left{
    width: 100%;
    display: flex;
}

main .box1 .last_content_left .image{
    width: 30%;
}
main .box1 .last_content_left .image img{
    width: 100%;
}

main .box1 .last_content_left .content_last{
    width: 70%;
    padding: 10px;
}
main .box1 .last_content_left .content_last h3 a{
    text-decoration: none;
    color: #000;
}
main .last_right{
    width: 100%;
    border-bottom: 1px solid #ccc;
}


main .last_right .header_last_right span{
    padding-right: 10px;
}
main .last_right {
    width: 100%;
}

main .last_right .header_last_right span a{
    text-decoration: none;
    color: #000;
}
main .last_right .header_last_right1 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


main .last_right .header_last_right1 img{
    width: 100%;
}
main .last_right .header_last_right1 a{
    text-decoration: none;
    color: #000;
}
.nav_content_end {
    width: 100%;
    display: flex;

}
.nav_content_end a{
    text-decoration: none;
    color: #000;
}
.nav_content_end img{ 
   
    width: 30%;
}
footer {
    
    padding:  20px;
}

footer .footer .footer1{
    width: 100%;
    /* background-color: #000; */
    
    display: flex;
    justify-content: space-between;
    text-align: center;
}
footer .footer .footer1  .content_footer{
    width:13%;
    background-color:#ccc;
    padding: 5px 0px;
    
    
}
footer .footer .footer2{
    width: 100%;
    /* background-color: #000; */
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
footer .footer  .content_footer2{
    width:13%;
    background-color:#ccc;
    padding: 5px 10px; 
}





