*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding:  10px 0;
    background-color: rgb(230, 230, 230);
    
}
.header-slider{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
}
.logo{
    width: 100%;
    padding-top: 5px;
}
.logo a{
    text-decoration: none;
    font-size: 25px;
}
.logo img{
    width: 100px;
    margin-left: 20px;
}
.logo .fa-bars{
    padding-left: 30px;
    color: black;
}
.search-box{
    border: 1px solid rgb(155, 154, 154);
    background-color: #fff;
    border-radius: 30px;
    width: 100%;

}
.search-text {
    display: flex;
}
.search-box .fa-keyboard {
    font-size: 20px;
    color: rgb(103, 102, 102);
    padding-top: 10px;
    cursor: pointer;
}
.search-box .fa-xmark {
    padding: 5px 10px;
    font-size: 30px;
    color: rgb(103, 102, 102);
    cursor: pointer;
}
.search-box .search-text input{
    border: 0;
    outline: 0;
    background: none;
    width: 100%;
    
    padding-left: 10px;
    font-size: 15px;
}
.search-box  button{
    width: 100px;
    border: 0;
    outline: 0;
    background: none;
    height: 112%;
    font-size: 20px;
    color: rgb(109, 107, 107);
    border-left: 1px solid rgb(165, 165, 165);
    cursor: pointer;
    background-color: #ccc;
    border-radius: 0px 20px 20px 0px;

}
.search-box  button:hover{
    background-color: rgb(171, 170, 170);
}
.search-box .fa-magnifying-glass{
    width: 100%;
}
.micro{
    display: flex;
    float: right;
}
.micro .fa-microphone{
    width: 45px;
    height: 45px;
    position: absolute;
    margin-top: -40px;
    background-color: rgb(207, 207, 207);
    font-size: 25px;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
    border-radius: 30px;
    cursor: pointer;
}
.micro .fa-microphone:hover{
    background-color: rgb(158, 157, 157);
}
.header-slider .create{
    margin-left:160px;
}
.header-slider .create button{
    margin-right: 10px;
    padding: 12px;
    border: 0;
    border-radius: 25px;
    background: none;
    font-size: 18px;
    cursor: pointer;
}
.header-slider .create button:hover{
    background-color: #ccc;
}
/* size bar */
header{
    position: relative;
}
.size-bar{
    overflow:scroll;
    position: absolute;
    /* left: 0; */
    /* top: 100px; */
    padding-top: 10px;
    width: 17%;
    height: 100%;
    /* background-color: rgb(230, 230, 230); */
    z-index: 1;
    /* display: none; */
    overflow-y: scroll;
}
.size-bar .bar .bar-item{
    display: flex;
    /* border-bottom: 1px solid rgb(165, 165, 165); */
}
.size-bar .bar .bar-item a{
    /* display: block; */
    /* padding-top: 10px; */
    padding: 15px 30px;
    width: 100%;
    color: black;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}


.size-bar .bar .bar-item a span{
    /* display: block; */
    padding-left: 20px;
    color:#0f0f0f;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
/* hover a */
.size-bar .bar .bar-item a:hover{
    background-color: rgb(207, 207, 207);
    border-radius: 10px;
}
.color-text{
    color:#0f0f0f;
}
.help a{
    text-decoration: none;
    color: black;
}
.box-bar-items .bar-item img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.size-bar .box-bar-items .bar-item{
    /* left */
    width: 100%;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-bar .box-bar-items .bar-item a span{
    padding:0;
    color:#000;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    text-align: center;
    

}
/* customize scroll in size-bar */
.size-bar::-webkit-scrollbar {
    width: 10px;

    background-color: #F5F5F5;
} 
.size-bar::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius:5px ;
}
